﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/TemaForest/assets/images/logo/favicon.png" type="image/x-icon" />
    <link href="~/Content/TemaForest/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/all.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link href="~/Content/TemaForest/css/style.css" rel="stylesheet" />
    <link href="~/Content/TemaForest/css/style-custom.css" rel="stylesheet" />
    <!--/Custom CSS-->
    <link href="~/Content/TemaForest/css/colors/blue.css" rel="stylesheet" />

    <!--Tooltipster-->
    <link href="~/Content/TemaForest/assets/plugins/tooltipster/css/tooltipster.bundle.min.css" rel="stylesheet" />
    <!--/Tooltipster-->
    <!--toastr | waitme-->
    <link href="~/Content/waitMe.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!--/toastr | waitme-->
    <!--File-Input-->
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">*@
    <link href="~/Content/TemaForest/assets/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
    <!--/File-Input-->

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body style="background:#eef5f9">
    @Html.Partial("_Navbar")

    <div class="container" @*style="margin-bottom:5% !important"*@>
        @RenderBody()
    </div>

    <footer class="footer">
        <p class="text-muted text-center footer-text small">&copy; @DateTime.Now.Year - Departamento TI, Primus Capital S.A.</p>
    </footer>
    <!--Scripts-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS in orden -->
    <script src="~/Content/TemaForest/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap/js/bootstrap-select.min.js"></script>

    <!--Tooltipster-->
    <script src="~/Content/TemaForest/assets/plugins/tooltipster/js/tooltipster.bundle.min.js"></script>
    <!--/Tooltipster-->
    <!--toastr | waitme-->
    <script src="~/Scripts/waitMe.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <!--/toastr | waitme-->
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/TemaForest/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/TemaForest/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/TemaForest/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Content/TemaForest/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom /preload/ JavaScript -->
    <script src="~/Content/TemaForest/js/custom.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <!--File-Input-->
    <script src="~/Content/TemaForest/assets/plugins/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap-fileinput/themes/fas/theme.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap-fileinput/js/locales/es.js"></script>
    <!--/File-Input-->
    <!--Toastr Options-->
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "3500",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });
    </script>
    <!--/Scripts-->
    @RenderSection("scripts", required: false)
</body>
</html>