﻿<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Dashboard")">
                <b><!-- Logo icon -->
                    <img src="~/Content/TemaForest/assets/images/logo/Logo_Parte1.png" alt="homepage" class="light-logo" style="padding-top: 0; padding-bottom: 0; height:50px;" /> 
                </b><!--End Logo icon -->

                <span><!-- Logo text -->
                    <img src="~/Content/TemaForest/assets/images/logo/Logo_Parte2.png" alt="homepage" class="light-logo" style="padding-top: 0; padding-bottom: 0; height:50px;" />
                </span><!--End Logo text -->
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
            
    </nav>
</header>
