﻿@{
	ViewBag.Title = "Dashboard";
}
<div class="page-wrapper">
	<h2>Subir Archivo</h2>
	<form id="form-guarda-archivo" enctype="multipart/form-data" method="post" class="krajee-example-form" action="">
		<div class="file-loading">
			<input id="input-file" type="file" class="file form-control form-control-sm input-xs" @*data-show-preview="true"*@ @*data-show-upload="false"*@ name="archivo">
		</div>
	</form>
	<br />
</div>


@section scripts{
	<script>
        $('#input-file').fileinput({
            theme: 'fas',
            language: 'es',
            uploadAsync: false,
            //uploadUrl: '@Url.Action("SubirArchivo", "Dashboard")',////Por el momento funciona, pero no se logra obtener la respuesta devuelta.-
            //uploadUrl: "Dashboard/SubirArchivoTest",////Funciona de igual forma, pero no se logra obtener la respuesta devuelta.-
            //uploadUrl: '#',////Muestra boton en archivo.
            showUpload: true,
            showRemove: true,
            allowedFileExtensions: ['htm'],
            previewFileType: 'any',
            maxFileCount: 1,
            showBrowse: true,
            browseOnZoneClick: true
        });

        $('#form-guarda-archivo').submit(function (e) {
            e.preventDefault();
            var inputfile = $('#input-file').val();
            var formData = new FormData(this);
            //seccion ajax
            if ($('#input-file').val() != "") {
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("SubirArchivo", "Dashboard")',
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function (data) {
                    if (data.Modificado == true) {
                        toastr.success("Archivo Subido");
                    } else {
                        toastr.error("Error: " + data.Respuesta);
                        console.log(data.Respuesta);
                    }
                })
				.fail(function () {
				})
				.always(function () {
				});
            } else {
                toastr.warning("Debe Agregar un archivo", "Advertencia");
            }

        });
	</script>
}